input[type="number"] {
  display: block;
  margin: 10px auto;
  width: 270px;
  height: 40px;
  font-size: 15px;
}

button[type="submit"] {
  display: block;
  margin: 10px auto;
  width: 270px;
  padding: 10px;
  font-size: 15px;
  background-color: plum;
  border-radius: 10px;
  transition: all 300ms ease-in-out;
}

button[type="submit"]:hover {
  background-color: #FFB6C1;
  cursor: pointer;
}
