.question-field {
  /*border: none;*/
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid;
  padding-bottom: 15px;
  border-width: 1px;
  border-color: #efefef;
}
/*
fieldset.question-field:first-of-type{

  border-top: solid;
  border-width: 2px;
  border-color: orchid;
}*/

.question-field:last-of-type {
  border-bottom: none;
}

.error-msg {
  color: #c86262;
  font-weight: bold;
}

#quiz-image img{
  max-width: 100%;
}

#corrections {
  margin-top: 1.25em;
}
 #corrections h3 {
  margin-bottom: 1.25em;
 }
